# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Env files
.env

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# npm package locks
package-lock.json
yarn.lock

# Prettier / ESLint cache
.prettiercache
.eslintcache

# Nodemon / temp
*.tmp
